/* /assets/css/custom.css 파일 */

.nav__items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__sub-title {
  /* font-weight: bold;  */ /* 텍스트의 굵기 */  
  margin-top: 7px;   /* 외부 여백을 추가 */
  color: #fff;        /* 글씨 색상을 흰색으로 변경 */
  font-size: 1.1em;   /* 글씨 크기를 더 키움 */
}

.nav__sub-link {
  color: ##FFEFD5;        /* 링크 색상을 회색으로 변경 */
  text-decoration: none;  /* 링크의 밑줄 제거 */
}
